future>=1.0.0
openai
tiktoken
networkx
graspologic
nano-vectordb
hnswlib
xxhash
tenacity
dspy-ai
neo4j
aioboto3
dotenv
qdrant_client
python-docx
pypdf
openpyxl
azure-ai-formrecognizer
azure-ai-documentintelligence
pdf2image
google-generativeai